fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pytesseract
Pillow
pdf2image
opencv-python
regex
supabase
numpy
torch
torchvision
lightgbm
scikit-learn
joblib
requests
httpx
langgraph
langchain
langchain-groq
langchain-core
langgraph-checkpoint
langsmith
shap
pandas
tensorflow
imbalanced-learn
